services:
  api:
    build: .
    ports:
      - '8000:8000'
    env_file:
      - config.env
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7
    container_name: redis
    ports:
      - '6379:6379'
    restart: always
